.container {
  background-color: #49bedb;
  padding: 10px;
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    color: white;
    &--title {
      font-size: 28px;
      font-weight: bold;
    }
  }
  .note {

    text-align: center;
    p {
      span {
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 525px) {
  .container{
    width: 100%;
    overflow-x: hidden;
  }
}